footer {
  background-color: #1348aa;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media screen ,(max-width: 500px) {
  footer {
    display: flex;
    font-size: 0.9rem;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

p > a {
  text-decoration: none;
  color: #ffff;
  word-spacing: 4px;
  cursor: pointer;
}
