.mainForms {
  margin: 4% 14%;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
}

.mainForms > h1 {
  text-align: center;
  font-size: 28px;
}

.select {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.descricao > h1, .endereco > h1 {
  font-size: 20px;
  color: #235ae2;
}

.formulario {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.descricao, .endereco {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

}

p {
  display: flex;
  justify-content: flex-end;
}

input, select {
  background-color: #EDEDED;
  border: none;
  border-radius: 3px;
  padding: 10px;
  width: 400px;
  box-sizing: border-box;
  /* height: 40px; */
}

textarea {
  background-color: #EDEDED;
  border: none;
  border-radius: 3px;
  padding: 10px;
  width: 379px;
  height: 120px;
}

input[type="file"]{
  background-color: transparent;
  padding: 0;
  margin-left: 2%;
  width: 270px;
}

input[type="submit"] {
  background-color: #23e24c;
  color: #ffff;
  width: 30%;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 35%;
  cursor: pointer;
}

.text{
  display: flex;
  justify-content: space-between;
}

.numero, .uf {
  width: 86px;
}

.cep {
  width: 150px;
}

.inputs {
  display: grid;
  gap: 0.5rem;
}