.conten {
  /* border: 1px solid black; */
  /* margin: 4% 14%; */
  margin: 2% 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-content: center; */
  align-items: center;
  /* gap: 2rem; */
}

.carrossel {
  width: 360px;
  height: 400px;
}

.carrossel > h3 {
  color: #2539ea;
  text-align: center;
}

.photo {
  width: 24rem;
}

.box {
  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  width: 112px;
  height: 160px;
  border-radius: 3px;
  margin-top: 16%;
  box-sizing: border-box;
  padding: 20px;
  justify-content: center;
  background-color: #ffff;
  box-shadow: 2px 3px 5px 1px rgb(0 0 0 / 25%);
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: transform;
}

.card:hover{
  transform: scale(1.1);
}

.sing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sing > img {
  width: 50px;
}