@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nanum+Gothic&family=Source+Sans+Pro&display=swap");

:root {
  --color-btn: #4DD14E;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* .logoarea{
  margin-right: 4rem;
} */

.h3{
  color: #1348AA;
  font-family: 'Nanum Gothic';
  margin: 2%;
  font-weight: 600;
  font-size: 1.5rem;
}

.mainLogin {
  display: flex;
  gap: 2rem;
  height: 100vh;
}

#bannerlogin {
  background-color: #1348AA;
  height: 100vh;
  width: 50%;
  text-align: center;

}
h2 {
  font-family: 'Nanum Gothic';
  font-weight: 600;
  font-size: 1.8125rem;
  line-height: 2rem;
  color: white;

  margin-top: 6rem;
  margin-left: 11.5625rem;
  margin-right: 12.25rem;
}

.imgSvg {
  margin-top: 5.75rem;
  width: 350px;
}


#loginarea {
  height: 100vh;
  width: 50%;
  text-align: center;
}

#loginarea img {
  margin-right: 4rem;
}

p, #titlelogin {
  color: #5F5D5D;
  font-family: 'Montserrat';
  font-weight: 600;
}

#titlelogin {
  font-size: 1.625rem;
  line-height: 1.906rem;
  margin-bottom: 2.06rem;
  margin-left: 15.81rem;
  margin-right: 16.75rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
input[type="text"], input[type="password"]{
  
  width: 20.37rem;
  height: 2.375rem;
  border: 1px solid #5F5D5D;
  border-radius: 10px;
  
  margin-left: 10.06rem;
  margin-right: 11.56rem;
  padding: 0 0 0 1.25rem;
}

input[type="submit"], input[type="button"]{
  cursor: pointer;

  background-color: var(--color-btn);
  color: white;
  border: none;
  font-family: 'Source Sans Pro';
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.4375rem;
  filter:  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
  transition: background-color 0.6s linear;
}
#btnlogin{
  width: 8.8429rem;
  height: 2.5rem;
  border-radius: 10px;
  margin-right: 1rem;
}
#btnlogin:hover, input[type="button"]:hover {
  background-color: #3a62b9;
}

#infologin{
  margin-left: 10.43rem;
  margin-right: 11.68rem;
}
hr {
  margin-top: 2.06rem;
  margin-bottom: 0.93rem;
  margin-right: 0.5rem;
  width: 12.56rem;
}

.msglogin {
  margin-bottom: 1.5rem;
}

input[type="button"]{
  height: 2.5rem;
  width: 10.06rem;
  border-radius: 10px;
}

/* OPÇÕES DE LOGIN */

#opcoes {
  margin-top: 4rem;
}