@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nanum+Gothic&family=Source+Sans+Pro&display=swap");


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f8f8ff;
  font-family: "Montserrat", sans-serif;
  color: #5a5757;
}


header {
  width: 100%;
  height: 70px;
  background-color: #235ae2;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.35);
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
.owl {
  width: 10rem;
}
#logotipo {
  margin-left: 14%;
}
nav {
  justify-content: center;
  align-items: center;
  margin-right: 14%;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
li a {
  text-decoration: none;
  list-style-type: none;
  color: aliceblue;
  font-size: 18px;
  margin-right: 20px;
  padding: 22px 4px;
  word-spacing: 4px;
}
ul li a:hover {
  border-bottom: 2px solid rgb(81, 230, 130);
}


main{
  margin: 4% 10%;
  padding-top: 3%;
}


#form-cadastro h1{
  text-align: center;
}
#lado-lado{
  display: flex;
  justify-content: space-evenly;
}
.nome-azul{
  color: #0A77C2;
  font-size: 140%;
}
.invisivel{
  visibility: hidden;
}
.borda-redonda{
  border-color: #282525;
  border-radius: 1.5rem; 
  border-width: 0.25px;
  border-style: solid;
  background-color: #f8f8ff;
  height: 2.3rem;
  margin-top: 0.7rem;
  margin-bottom: 1.8rem;
  padding-left: 1rem;
}
.nome-escuro{
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 10px;
}
.inputLongo{
  width: 30rem;
}
.inputMedio{
  width: 15.5rem;
}
.inputPequeno{
  width: 12.5rem;
}


#LabelSenha{
  margin-right: 13.5rem;
}
#ConfSenha{
  margin-right: 0;
  margin-left: 4rem;
}


#Data{
  margin-left: 15rem;
  margin-right: 0;
}
#DataNasc{
  margin-left: 1.5rem;
}


#check-senha{
  display: flex;
  justify-content: flex-start;
  font-weight: lighter;
}



#entrada-cep{
  margin-top: 2.2rem;
  
}
#CEP{
  width: 8rem;
}
#Numero{
  width: 5rem;
  margin: 0% 1rem;
}
#Nº{
  margin: 0% 4.5rem;
  margin-left: 7rem;
}
#UF{
  width: 5rem;
  height: 2.5rem;
}


#checkbox input{
  margin: 2%;
}


#botao-criar{
  margin: 3rem;
  text-align: center;
}
#botao-criar > button{
  font-weight: 525;
  font-size: 105%;
  text-align: center;
  width: 20rem; height: 2rem;
  border-radius: 0.5rem;
  border-style: none;
  background-color: #7DCF3D;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.35);
}


footer{
  background-color: #1348aa;
  height: 8rem;
  display: flex;
  align-items: center;
}
#divFooter{
  width: 100%;
}
#rodape{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-left: 26%;
  margin-right: 26%;
}
#copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  word-spacing: 3px;   
}
p > a{
  text-decoration: none;
  color: #ffff;
  word-spacing: 4px;
}