@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nanum+Gothic&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #f8f8ff;
  font-family: "Montserrat", sans-serif;
  color: #5a5757;
}

header {
  width: 100%;
  height: 70px;
  background-color: #235ae2;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.35);
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.owl {
  width: 10rem;
}

#logotipo {
  margin-left: 14%;
}

nav {
  justify-content: center;
  align-items: center;
  margin-right: 14%;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  list-style-type: none;
  color: aliceblue;
  font-size: 18px;
  margin-right: 20px;
  padding: 22px 4px;
  word-spacing: 4px;
}

ul li a:hover {
  border-bottom: 2px solid rgb(81, 230, 130);
}

main {
  margin: 4% 14%;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 28px;
}

h3{
  margin: 1% 0;
  color: #235ae2;
}

.form-data {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.form-address {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

input {
  background-color: #ededed;
  border: none;
  border-radius: 3px;
  padding: 10px;
  width: 400px;
  box-sizing: border-box;
  /* display: block; */
  /* height: 40px; */
}

.inputs {
  display: grid;
  gap: 0.5rem;
}

.forms {
  display: flex;
  justify-content: space-between;
}

.cnpj, .cpf, .senha, .confirmar, .cep{
  width: 260px;
}

.uf, .num{
  width: 100px;
}

.btn {
  width: 30%;
  margin: 2% 35%;
  padding: 10px;
  background-color: #23e24c;
  color: #ffff;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}