@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nanum+Gothic&family=Source+Sans+Pro&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f8f8ff;
  font-family: "Montserrat", sans-serif;
  color: #5a5757;
}

header {
  width: 100%;
  height: 70px;
  background-color: #235ae2;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.35);
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.owl {
  width: 10rem;
}

#logotipo {
  margin-left: 14%;
}

nav {
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

li a {
  /* text-decoration: none;
  color: #ffff;
  margin-right: 40px; */
  text-decoration: none;
  list-style-type: none;
  color: aliceblue;
  font-size: 18px;
  margin-right: 20px;
  padding: 22px 4px;
  word-spacing: 4px;
}

ul li a:hover {
  border-bottom: 2px solid rgb(81, 230, 130);
}

button {
  width: 69px;
  margin-right: 14%;
  border: none;
  padding: 10px;
  border-radius: 6px;
  background-color: #6fd222;
  cursor: pointer;
}

button a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

button:hover {
  background-color: #9e9ec2;
}

.icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: transform;
}

.icon:hover{
  transform: translateX(8px);
}

#conteudo {
  /* border: 1px solid black; */
  /* margin: 4% 14%; */
  margin: 4% 5%;
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-content: center; */
  align-items: center;
  /* gap: 2rem; */
}

.parte1 {
  border-radius: 6px;
  width: 360px;
  height: 400px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.35);
  background-color: #ffff;
}

span > h3 {
  color: #ffff;
  background-color: #5072fe;
  height: 60px;
  font-size: 20px;
  margin: 0%;
  padding-left: 20px;
  display: grid;
  align-items: center;
  border-radius: 6px 6px 0px 0px;
}

.info {
  height: 250px;
  margin: 5% 11%;
  padding: 0 10px;
}

input {
  padding: 8px;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 35%);
}

.btn {
  margin: 5%;
  justify-content: space-evenly;
  display: flex;
  align-content: center;
}

.btn-1 {
  background-color: #6fd222;
}

.btn-2 {
  background-color: rgb(190, 53, 53);
}

section {
  width: 360px;
  height: 400px;
  /* background-color: #ffff; */
}

h3 {
  font-size: 25px;
  margin-left: 1%;
}

.registro {
  background-color: #ffffff;
  height: 90px;
  border-radius: 6px;
  box-shadow: 0px 3px 4px 1px rgb(0 0 0 / 25%);
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

section > .registro {
  margin-bottom: 3%;
}

p {
  font-size: 12px;
}

.conten {
  /* border: 1px solid black; */
  /* margin: 4% 14%; */
  margin: 2% 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-content: center; */
  align-items: center;
  /* gap: 2rem; */
}

.carrossel {
  width: 360px;
  height: 400px;
}

.carrossel > h3 {
  color: #2539ea;
  text-align: center;
}

.photo {
  width: 24rem;
}

footer {
  background-color: #1348aa;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

p > a {
  text-decoration: none;
  color: #ffff;
  word-spacing: 4px;
}

.box {
  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  width: 112px;
  height: 160px;
  border-radius: 3px;
  margin-top: 16%;
  box-sizing: border-box;
  padding: 20px;
  justify-content: center;
  background-color: #ffff;
  box-shadow: 2px 3px 5px 1px rgb(0 0 0 / 25%);
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: transform;
}

.card:hover{
  transform: scale(1.1);
}

.sing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sing > img {
  width: 50px;
}